# Chapter 3: Data Manipulation with Pandas

### Pandas Series

In [82]:
pd.Series(data, index=index)

NameError: name 'index' is not defined

In [83]:
import pandas as pd
import numpy as np

data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

A series wraps a sequence of value and a sequence o indices. The values are a NumPy array. The Pandas Series are much more flexible than the Numpy array that it emulates.
The index, here, are explicit. Yo can think about Series as specialized Python dictionary.

In [84]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [85]:
data.index

RangeIndex(start=0, stop=4, step=1)

Data can be accessed by the associated index via the square-bracket notation

In [86]:
data[0]

0.25

The index can be an iteger, but also a string:

In [87]:
data = pd.Series([0.25, 0.5 , 0.75, 1.  ], index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [88]:
data['b']

0.5

In [89]:
### Series as specialized dictionary
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [90]:
### accesing it
population['California']

38332521

In [91]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

Data can be a scalar, which is repeated to fill the specified index:

In [92]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

Data can be a dictionary, in which index defaults to the sorted dictionary keys:

In [93]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [94]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### Pandas Data Frame object
The DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

#### Data Frame s a generalization of a Numpy array:
If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered
sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by “aligned” we mean that they share the same index.

In [95]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [96]:
states = pd.DataFrame({'population': population, 'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [97]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

#### DataFrame as specialized dictionary
Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [98]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [99]:
states.columns

Index(['population', 'area'], dtype='object')

In a two-dimensional NumPy array, data[0] will return the first row. For a DataFrame, data['col0'] will return the first column. Because of this, it is probably better to think about DataFrames as generalized
dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Buildinga DataFrame
- From a single Series object:

In [100]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

- From a list of dicts:

In [101]:
data = [{'a' : i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [102]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

- From a dictionary of Series objects:

In [103]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

- From a two-dimensional NumPy array:

In [104]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c']) #If columns and index not specified -> integers.

        foo       bar
a  0.534560  0.504567
b  0.514882  0.446226
c  0.874164  0.635416

- From a NumPy structured array:

In [105]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [106]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### The pandas index object
This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set (technically a multiset, as Index objects may contain repeated values).

Let's build an index from a list of integers:

In [107]:
ind = pd.Index([2,3,7,5,11])
ind

Int64Index([2, 3, 7, 5, 11], dtype='int64')

# Data Indexing and Selection

In Chapter 2, we looked in detail at methods and tools to access, set, and modify values in NumPy arrays. These included indexing (e.g., arr[2, 1]), slicing (e.g., arr[:, 1:5]), masking (e.g., arr[arr > 0]), fancy indexing (e.g., arr[0, [1, 5]]), and combinations thereof (e.g., arr[:, [1, 5]]). Here we’ll look at similar means of accessing and modifying values in Pandas Series and DataFrame objects.

### Data selection in Series

- Series as a dictionary

In [108]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=['a', 'b', 'c', 'd'])

data['b']

0.5

In [109]:
'a' in data

True

In [110]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [111]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [112]:
#Modify-Extending:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

- Series a one-dimensional array:

In [113]:
#slicing
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [114]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [115]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [116]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

#### Indexers: loc, iloc, and ix

In [117]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
#explicit index when indexing
data[1]

'a'

In [118]:
#implicit index when indexing
data[1:3]

3    b
5    c
dtype: object

Because of this potential confusion in the case of integer indexes, Pandas provides some special indexer attributes that explicitly expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface to the data in the Series.

#### loc*
The loc attribute allows indexing and slicing that always references the *explicit index*:

In [119]:
data.loc[1]

'a'

In [120]:
data.loc[1:3]

1    a
3    b
dtype: object

#### iloc
The iloc attribute allows indexing and slicing that always references the implicit Python-style index:

In [121]:
data.iloc[1]

'b'

In [122]:
data.iloc[1:3]

3    b
5    c
dtype: object

#### ix
A third indexing attribute, ix, is a hybrid of the two, and for Series objects is equivalent to standard []-based indexing.

### Data Selection in Data Frame

In [123]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,
'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,
'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [124]:
# dictionary style indexing of the column name:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [125]:
#attribute-style access with column names that are strings:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [126]:
#add a new column:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

- Series as a two-dimensional array:

In [127]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [128]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [129]:
#Then, if we pass data[3] it gives as a row and data['area'] a column...
#but...

data.iloc[:3, :2] #the first 3 rows of the first 2 columns

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [130]:
data.loc[:'Illinois', :'pop'] #todo hassta illionios, y todo hasta pop de colunna incluido.

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [131]:
#The ix indexer allows a hybrid of these two approaches:
#maybe it doen't work anymore...
data.ix[:3, :'pop']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [132]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121