# Homework 1. Exploratory Data Analysis

In [22]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

import requests
import io
import zipfile
import scipy.stats

### Problem 1
In Lecture 1, we showed a plot that provided evidence that the 2002 and 2003 Oakland As, a team that used data science, had a competitive advantage. Since, others teams have started using data science as well. Use exploratory data analysis to determine if the competitive advantage has since disappeared.

In [30]:
#io.StringerIO tener en cuenta que en Python 3 es as√≠

zf = zipfile.ZipFile("lahman-csv_2014-02-14.zip")
print(zf.namelist())

['SchoolsPlayers.csv', 'SeriesPost.csv', 'Teams.csv', 'TeamsFranchises.csv', 'TeamsHalf.csv', 'AllstarFull.csv', 'Appearances.csv', 'AwardsManagers.csv', 'AwardsPlayers.csv', 'AwardsShareManagers.csv', 'AwardsSharePlayers.csv', 'Batting.csv', 'BattingPost.csv', 'Fielding.csv', 'FieldingOF.csv', 'FieldingPost.csv', 'HallOfFame.csv', 'Managers.csv', 'ManagersHalf.csv', 'Master.csv', 'Pitching.csv', 'PitchingPost.csv', 'readme2013.txt', 'Salaries.csv', 'Schools.csv']

In [31]:
tablenames = zf.namelist()
tablenames[tablenames.index("Salaries.csv")]

'Salaries.csv'

In [38]:
salaries = pd.read_csv(zf.open(tablenames[tablenames.index("Salaries.csv")]))
salaries.shape[0] #Number of rows
salaries.head(3)

   yearID teamID lgID   playerID   salary
0    1985    BAL   AL  murraed02  1472819
1    1985    BAL   AL   lynnfr01  1090000
2    1985    BAL   AL  ripkeca01   800000

In [39]:
teams = pd.read_csv(zf.open(tablenames[tablenames.index("Teams.csv")]))
teams = teams[['yearID', 'teamID', 'W']] #we are only interested in this rows. W is number of wins
teams.shape[0] 
teams.head(3)

   yearID teamID   W
0    1871    PH1  21
1    1871    CH1  19
2    1871    BS1  20

Problem 1b. Summarize the Salaries DataFrame to show the total salaries for each team for each year. Show the head of the new summarized DataFrame.

In [40]:
totalSalaries = salaries.groupby(['yearID', 'teamID'], as_index = False).sum()
totalSalaries.head()

   yearID teamID    salary
0    1985    ATL  14807000
1    1985    BAL  11560712
2    1985    BOS  10897560
3    1985    CAL  14427894
4    1985    CHA   9846178